{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">Django Boards</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Sign up</h3>
            <div id="ajax-errors" class="text-right"></div>
            <form method="post" data-validate-username-url="{% url 'validate_username' %}">
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Create an account</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            Already have an account? <a href="{% url 'login' %}">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $('#id_username').change(function(){
    console.log( $(this).val() );
    var form = $(this).closest("form");
    $.ajax({
      url: form.attr("data-validate-username-url"),
      data: form.serialize(),
      dataType: 'json',
      success: function(data){
        console.log(data);
        if(data.is_taken){
          $('#ajax-errors').text(data.error_message);
        }
        else{
          $('#ajax-errors').text(data.success_message);
        }
      }
    });
  });
</script>
{% endblock %}