{% extends 'base.html' %}

{% load humanize %}

{% block title %}
  {{ board.name }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h1>
      {{ board.name }}
      <a href="{% url 'new_topic' board.pk %}" class="btn btn-outline-info float-right">
        <i class="fa fa-plus"></i> New topic
      </a>
    </h1>
    
  </div>
</div>
<div class="row">
  <table class="table">
    <thead class="thead-inverse bg-dark">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Activity</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
        <tr>
          <td><a href="{% url 'topic_posts' board.pk topic.pk %}">{{ topic.subject }}</a></td>
          <td>{{ topic.starter.username }}</td>
          <td>{{ topic.replies }}</td>
          <td>{{ topic.views }}</td>
          <td>{{ topic.last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
</div>
{% endblock %}